.content {
    position: relative;
    z-index: 3;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 35%; 
    top: 40vh;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 70%; 
    top: 40vh;
  }
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/puung3.jpg);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(4px);
}
.swal2-title{
  color: azure !important;
}